# This is some sample rules that demonstrate some of the capabilities
# of the fapolicyd. This is written as a blacklist. If you wanted a
# whitelist, then you would end with deny all all. But be very careful
# with that and run in permissive for a while to confirm. Also, the
# versions of python and the update utilities may need adjusting for
# your distribution.

# Prevent execution by ld.so
deny_audit pattern=ld_so all

# Don't allow LD_PRELOAD
deny_audit pattern=ld_preload all

# We have to carve out an exception for the system updaters
# or things go very bad (deadlock).
allow exe=/usr/bin/rpm all
allow exe=/usr/bin/python3.6 comm=dnf all

# Don't allow untrusted executables
deny_audit exe_dir=execdirs exe=untrusted all

# Only allow system ELF Applications - note: depends on above check
# for untrusted executables.
allow all dir=execdirs ftype=application/x-executable
deny_audit all ftype=application/x-executable

# If you have a LD_LIBRARY_PATH, you may need to allow those here
# allow all dir=/usr/local/cuda/lib64 ftype=application/x-sharedlib

# Only allow system ELF libs
allow all dir=execdirs ftype=application/x-sharedlib
deny_audit all ftype=application/x-sharedlib

# Only allow system python executables and libs
# File type by: file --mime-type /path-to-file
allow all dir=execdirs ftype=text/x-python
allow exe=/usr/bin/python3.6 dir=execdirs ftype=text/x-python
allow exe=/usr/bin/python3.6 dir=execdirs ftype=application/octet-stream
allow exe=/usr/bin/python2.7 dir=execdirs ftype=text/x-python
allow exe=/usr/bin/python2.7 dir=execdirs ftype=application/octet-stream
deny_audit  all ftype=text/x-python
#deny_audit all ftype=application/octet-stream path=*.pyc

#
# In this next optional languages section, choose either to
# block (default) or allow by commenting or uncommenting the
# appropriate line.
#

# Block all perl
deny_audit exe=/usr/bin/perl all

# Perl
#allow all dir=execdirs ftype=text/x-perl
#deny_audit all ftype=text/x-perl

# Block all PHP
deny_audit exe=/usr/bin/php all

# PHP
#allow all dir=execdirs ftype=text/x-php
#deny_audit all ftype=text/x-php

# Block all Ruby
deny_audit exe=/usr/bin/ruby all

# Ruby
#allow all dir=execdirs ftype=text/x-ruby
#deny_audit  all ftype=text/x-ruby

# Data exfiltration
#deny_audit exe=/usr/bin/ssh dir=/opt
#deny_audit exe=/usr/bin/wget dir=/tmp
#deny_audit all device=/dev/cdrom

# Allow everything else
allow all all

