[Unit]
Description=File Access Policy Daemon
DefaultDependencies=no
After=local-fs.target systemd-tmpfiles-setup.service

[Service]
Type=forking
PIDFile=/var/run/fapolicyd.pid
Restart=on-abnormal
ExecStart=/sbin/fapolicyd --permissive --user fapolicyd

[Install]
WantedBy=multi-user.target
