# This is some sample rules that demonstrate some of the capabilities
# of the fapolicyd. The way that it works is that for each kind of
# executable you may have, you carve out what is acceptable (the whitelist)
# and then deny anything else of that type. The rules end with an allow
# anything to prevent unintended blockage to things like media files, documents,
# or anything else applications access that is not a computer language.

# Carve out an exception for dracut
allow perm=any uid=0 : dir=/var/tmp/
allow perm=any uid=0 trust=1 : all

# Prevent execution by ld.so
deny_audit perm=any pattern=ld_so : all

# We have to carve out an exception for the system updaters
# or things go very bad (deadlock).
allow perm=open exe=/usr/bin/rpm : all
allow perm=open exe=%python3_path% comm=dnf : all

# Only allow known ELF libs - this is ahead of executable because typical
# executable is linked with a dozen or more libraries.
allow perm=open all : ftype=application/x-sharedlib trust=1
deny_audit perm=open all : ftype=application/x-sharedlib

# Only allow known ELF Applications
allow perm=execute all : ftype=application/x-executable trust=1
deny_audit perm=execute all : ftype=application/x-executable

# This is a workaround for kernel thinking this is being executed because it
# occurs during the execve call for an ELF binary. We catch actual execution
# in rule 3.
allow perm=execute all : path=%ld_so_path% trust=1

# Need to carve out an exception for ansible
allow perm=any uid=0 : dir=/tmp/ansible
allow perm=any uid=0 : dir=/root/.ansible/tmp/

# Only allow system python executables and libs
# File type by: file --mime-type /path-to-file
allow perm=open all : ftype=text/x-python trust=1
allow perm=execute all : ftype=text/x-python trust=1
allow perm=open exe=%python3_path% : ftype=application/octet-stream trust=1
allow perm=open exe=%python2_path% : ftype=application/octet-stream trust=1
deny_audit perm=any all : ftype=text/x-python
#deny_audit perm=any all : ftype=application/octet-stream path=*.pyc

# Allow shell script and sourcing
allow perm=execute all : ftype=text/x-shellscript
# Note: libmagic detects #!/usr/bin/sh as the next item. Seems like a bug.
allow perm=any all : ftype=text/plain

#
# In this next optional languages section, choose either to
# block (default) or allow by commenting or uncommenting the
# appropriate line.
#

# Perl
# Block all perl
deny_audit perm=open exe=/usr/bin/perl : all
# or optionally allow it by uncommenting the following
#allow perm=open all : ftype=text/x-perl trust=1
#deny_audit perm=any all : ftype=text/x-perl

# PHP
# Block all PHP
deny_audit perm=any exe=/usr/bin/php : all
# or optionally allow it by uncommenting the following
#allow perm=open all : ftype=text/x-php trust=1
#deny_audit perm=any all : ftype=text/x-php

# Ruby
# Block all Ruby
deny_audit perm=any exe=/usr/bin/ruby : all
# or optionally allow it by uncommenting the following
#allow perm=open all : ftype=text/x-ruby trust=1
#deny_audit perm=any all : ftype=text/x-ruby

# Block any other execution
deny_audit perm=execute all : ftype=any

# Data exfiltration
#deny_audit perm=open exe=/usr/bin/ssh : dir=/opt
#deny_audit perm=open exe=/usr/bin/wget : dir=/tmp
#deny_audit perm=any all : device=/dev/cdrom

# Allow everything else - access to media files, documents, etc
allow perm=open all : all

