# We have to carve out an exception for the system updaters
# or things go very bad (deadlock).

allow perm=open exe=/usr/bin/rpm : all
allow perm=open exe=%python3_path% comm=dnf : all


