# Only allow system Ocaml files

allow perm=any all : ftype=application/x-bytecode.ocaml trust=1
deny_audit perm=any all : ftype=application/x-bytecode.ocaml

